/* * VARIABLES * */
/* can assign variables to use later on.
  colors for the pages and font stacks, etc
*/
:root{
  --primary: #2A312A;
  --secondary: #28382b;
  --third: #455B46;
  --white: white;
  --black: black;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model css-tricks.com/box-sizing/ 
  html has a higher specificity than *
*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


/* * RESET BROWSER CSS and BASE STYLES * */
/* this resets the inherited styles from the browser */
body {
  margin: 0;
  padding: 0;
  background: var(--primary);
  font-family: var(--sans);
  color: var(--white)
}


/* --------------Nav----------------------- */

nav {
  font-family: var(--mono);
  font-size: 90%;
  list-style-type: none;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav ul li:first-child {
  /* flex-basis: 100%; */
  /* text-align: center; */
}

a {
  color: var(--white);
  text-decoration: none;
  display: block;
}


a:hover {
  color: var(--third);
  text-decoration: underline;
}

.logo {
  height: 50px;
  margin: 0;
  padding: 0;
}

/* .button {
  background-color: var(--primaryOG);
  padding: 0.5rem;
  border-radius: 5px;
} */

/* .button:hover {
  color: var(--white);
  background-color: var(--thirdOG);
} */

/* * Responsive * */
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
/* .navbar {
  background-color: black;
}

.nav-title {
  font-size: 30px;
  color: black;
  font-family: monospace;
}

hr {
  margin: 1%;
} */
/* -----------------landing content---------------------- */

#home-parent-div {
    padding: 10px;
}

.hero {

  height: 500px;
  margin: auto;
}

.hero-img {
  width: 30%;
  height: 100%;
  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.hero {
  max-width:600px;
  max-height:350px;
  
  
  
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  gap:20px;
  
}
.hero:hover img {
  opacity:0.3;
}
.hero img:hover {
  transform:perspective(800px) rotateY(0deg);
  opacity:1;
}

.home-bottom-container {

  height: 200px;
  text-align: center;
}

.home-bottom-title {
  color: white;
  font-size: 20px;
  font-family: monospace;
}

h2 {
  color: white;
}

/* Parks Page ---------------------------------- */

.add-form-title {
  width: 400px;
}
.add-form-state {
  width: 100px;
}
.add-form-description, .add-form-activities {
  height: 100px;
  width: 200px;
}


.box {
  padding: 10px;
  margin: 10px;
}

.search-input {
  max-width: 500px;
}

.button {
  top: 10px;
}

/* Parks Detail--------------------------------- */

.title {
  margin: 5px;
}

.subtitle {
  padding: 10px;
}

.content {
  padding: 15px;
  margin: 20px;
}

.activities {
  padding: 15px;
}

a {
  padding: 10px;
}

/* Sign up --Log in------------------------- */

input {
  margin: 10px;
}

h1 {
  font-size: 20px;
  color: blue;
}


/* Logout -------------------------------------------- */

.container {
  padding: 20px;
  text-align: center;
}

.exit-text {
  font-size: 30px;
}

/* ===========================================================================play */
