
.App, body, html {
  height: 100vh;
  width: 100%;
  padding: 5px;
  background-color: black;
}

/* Landing Page-------------------------------- */


/* --------------Nav----------------------- */
.navbar {
  background-color: black;
}

.nav-title {
  font-size: 30px;
  color: black;
  font-family: monospace;
}

hr {
  margin: 1%;
}
/* -----------------landing content---------------------- */

#home-parent-div {
    background-color: black;
    padding: 10px;
    /* justify-content: center; */
}

.hero {
  background-color: black;
  height: 600px;
  margin: auto;
}

.hero-img {
  width: 30%;
  height: 100%;
  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.hero {
  max-width:600px;
  max-height:350px;
  
  
  
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  gap:20px;
  
}
.hero:hover img {
  opacity:0.3;
}
.hero img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}

.home-bottom-container {
  background-color: black;
  height: 200px;
  text-align: center;
}

.home-bottom-title {
  color: white;
  font-size: 20px;
  font-family: monospace;
}

h2 {
  color: white;
}

/* Parks Page ---------------------------------- */

.add-form-title {
  width: 400px;
}
.add-form-state {
  width: 100px;
}
.add-form-description, .add-form-activities {
  height: 100px;
  width: 200px;
}


.box {
  padding: 10px;
  margin: 10px;
}

.search-input {
  max-width: 500px;
}

.button {
  top: 10px;
}

/* Parks Detail--------------------------------- */

.title {
  margin: 5px;
}

.subtitle {
  padding: 10px;
}

.content {
  padding: 15px;
  margin: 20px;
}

.activities {
  padding: 15px;
}

a {
  padding: 10px;
}

/* Sign up --Log in------------------------- */

input {
  margin: 10px;
}

h1 {
  font-size: 20px;
  color: blue;
}


/* Logout -------------------------------------------- */

.container {
  padding: 20px;
  text-align: center;
}

.exit-text {
  font-size: 30px;
}

/* ===========================================================================play */
